<ul class="search-list">
  {{#each this}}
    <li class='country-item'>
      <img src={{flags.svg}} alt='flag' class='country-image' />
      <p class='country-name'>
        {{name.official}}
      </p></li>
  {{/each}}
</ul>